

.navbar-nav .nav-item .nav-link{
color: #ffffff;
}
.navbar-dark .navbar-toggler {
    color:  #06A3DA!important;
    border-color: #06A3DA !important;
}
.bg-header{
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(./img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}
h4{
    color:#06A3DA
}

.carousel{
    background-image: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7))
}



.contact .bx-phone,.contact .bx-envelope-open,.contact .bx-location-plus{
    border: 1px solid #06A3DA;
    background-color: #06A3DA;
    width: 50px;
    height: 50px;
}
.btn{
   width: 100%;
    height: 40px;
    background-color: #06A3DA;
    color: #fff;
    border: 1px solid #06A3DA;
 }


 .form-control{
    border-radius: 0;
    height: 70px;
 }
 .service{
    height: 300px;
    max-width: 500px;
    }
    
    
    .service h4{
        text-align: center;
    }
    .service-item{
    height: 300px;
    padding: 30px;
    }
    .service-item .service-icon{
        margin-bottom: 30px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #06A3DA;
        border-radius: 2px;
        transform: rotate(360deg);
    }





    .card-member{
        background-color: #06A3DA;
        transition: all .2s ease-in-out;
        color: #fff;
    }
    
    .member{
        transition: 0.5s;
    }
    
    .member:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .profile-picture img{
        transition: all .3s ease-in-out;
    }
    
    .member:hover .profile-picture img{
    transform: scale(1.15);
    }
    
    
    
    .blog-body{
        background-color:#EEF9FF ;
        color: black;
    }
    
    .blog-body a{
        text-decoration: none;
        color:#06A3DA
    }
    
    
    .blog-img img{
        transition: all .5s ease-in-out;
    }
    .blog-card:hover .blog-img img{
        transform: scale(1.10);
    }





 /*footer*/
 .bg-dark{
     background-color: #091E3E;
 }
 .footer-about{
     background-color: #06A3DA;
     height: 100%;
 }
 .footer-copyright{
     background-color: #06A3DA;
 }
 .social-icon{
     display: flex;
     justify-content: start;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .social-icon a{
     height: 34px;
     width: 34px;
     background-color: #06A3DA;
     text-decoration: none;
     margin: 0px 8px;
    border-radius: 3px;
     display: flex;
     justify-content: center;
     align-items: center;
     color:#fff;
     font-size: 18px;
 }
 ul li i{
     font-size: 18px;
    color: #06A3DA;
 }
 ul li{
     opacity: 0.6;
     transition: all .5s ease-in-out;
 }
 .list-unstyled li:hover{
     opacity: 1;
     transform: translateX(10px);
 }
 @media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
}

 @media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background-color:#06A3DA;
        color: #fff;
    }
}



@media (min-width: 992px) {
    .sticky-top.navbar-dark {
        position: fixed;
        background: #06A3DA;
        color: #fff;
        height: 80px;
        
    }

    .nav-item a{
        color: #06A3DA;
    }
}


@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
        
    }
    .nav-item a{
        color: #06A3DA;
    }
}






.btn-primary{
    background-color: #06A3DA;
    border: 1px solid #06A3DA;
    color: #fff;
   width: 200px;
   height: 50px;
}

.form-control{
    background-color: #EEF9FF ;
}

.form{
    background-color: #06A3DA;
}



.card-first{
    background-color: #EEF9FF ;
}

.shadow-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.form-btn{
    width: 100%;
    background-color: #091E3E;
    color: #fff;
    height: 50px;
}

.button{
    background-color: #06A3DA;
    color: #fff;
    border: 1px solid #06A3DA;
}